<!DOCTYPE html>
<html>
<head>
	<!-- attaching scripts -->
	<title>Invoice Tracker</title>
	
	<!-- linking css -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/mycss.css">

	<!-- attaching scripts -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/viewreports.js"></script>
</head>
<body >
</br>

<div class = "container" id="appshow">
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" v-model="currentInvoice">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color: black; text-align: center" class="modal-title">Invoice no {{ currentInvoice.InvoiceNumber }} details</h4>
      </div>
      <div class="modal-body">
		<h4 style="color: black"> <strong>Date:</strong> {{ new Date(currentInvoice.Date).toDateString() }}</h4>
		<h4 style="color: black"> <strong>Total payment:</strong> {{ currentInvoice.PaymentData.TotalPayment }} {{ currentInvoice.PaymentData.Currency }}</h4>
		<h4 style="color: black"> <strong>Payment method:</strong> {{ currentInvoice.PaymentData.PaymentMethod }} </h4>
		<div class="row">
		<div class="col-sm-6">
      	<h4 style="color: black"> <strong>From</strong></h4>
      		<p style="color: black"> <strong>Company name:</strong> {{ currentInvoice.From.CompanyName }}</p>
      		<p style="color: black"> <strong>Address:</strong> {{ currentInvoice.From.Address }}</p>
      		<p style="color: black"> <strong>Phone: </strong> {{ currentInvoice.From.Phone }}</p>
      		<p style="color: black"> <strong>Email:</strong> {{ currentInvoice.From.Email }}</p>
      	</div>
      	<div class="col-sm-6">
      	<h4 style="color: black"> <strong>Bill to</strong></h4>
      		<p style="color: black"> <strong>Company name:</strong> {{ currentInvoice.BillTo.CompanyName }}</p>
      		<p style="color: black"> <strong>Address:</strong> {{ currentInvoice.BillTo.Address }}</p>
      		<p style="color: black"> <strong>Phone: </strong> {{ currentInvoice.BillTo.Phone }}</p>
      		<p style="color: black"> <strong>Email:</strong> {{ currentInvoice.BillTo.Email }}</p>
      	</div>
      	</div>
      </div>
    </div>

  </div>
</div>


	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Invoice tracker</a>
			</div>
			<ul class="nav navbar-nav">
				<li ><a href="index.html">Home</a></li>
				<li ><a href="addinvoice.html">Add Invoice</a></li>
				<li class="active"><a href="#">View Reports</a></li>
			</ul>
		</div>
	</nav>
	<h2 id="details">Reports</h2>
	<br>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Invoice no.</th>
				<th>From</th>
				<th>Bill to</th>
				<th>More details</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="invoice in invoices">
				<td> {{ new Date(invoice.Date).toDateString() }}</td>
				<td> {{ invoice.InvoiceNumber }}</td>
				<td> {{ invoice.From.CompanyName }} </td>
				<td> {{ invoice.BillTo.CompanyName }} </td>
				<td>
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" v-on:click="currentInvoice = invoice">View the invoice</button>
					<button type="button" class="btn btn-success">Edit invoice</button>
					<button type="button" class="btn btn-danger" v-on:click="clickRemove(invoice.InvoiceNumber)">Delete invoice</button>
				</td>
			</tr>
		</div>	
	</body>
	</html>